@font-face {
  font-family: 'Inter',
  font-weight: 400
  src: url('./fonts/Inter-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Inter',
  font-weight: 700
  src: url('./fonts/Inter-Bold.ttf') format('ttf')
}

h1 {
  font-family: Inter;
  font-weight: 400;
}